{% extends "layout.njk" %}

{% block head %}

    <title>{{item.title_home}}</title>
    <link rel="stylesheet" href="/css/home.css">

{% endblock %}

{% block body %}

    <div class="wrapper">
        <h1>{{item.h1_wrapper}}</h1>
        <p>{{item.p_wrapper}}</p>
        <img src="{{item.img_wrapper}}" alt="{{item.alt_wrapper}}">
    </div>

    <div class="accessed">
        <p>{{item.p_accessed}}</p>
    </div>

    <div class="cards">
        {% for item in card %}
            <div class="card">
                <div class="card_image">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="card_conteudo">
                    <h1>{{item.title}}</h1>
                    <p>{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}