<!DOCTYPE html>
<html>
<head>
    <title>Not Found - Rocketseat</title>
    <link rel="stylesheet" href="/css/not-found.css">
</head>
<body>

    <div id="not-found">
        <img src="/assets/not-found.jpg" alt="Página não encontrada!">
    </div>
    
</body>
</html>