{% extends "layout.njk" %}

{% block head %}

    <title>{{item.title_receitas}}</title>
    <link rel="stylesheet" href="/css/receitas.css">

{% endblock %}

{% block body %}

    <div class="cards">
        {% for item in card %}
            <div class="card" id="{{item.id}}">
                <div class="card_image">
                    <img src="{{item.image}}" alt="{{item.title}}">
                </div>
                <div class="card_conteudo">
                    <h1 class="title">{{item.title}}</h1>
                    <p class="paragraph">{{item.author}}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}




